<h1>This is the homepage</h1>
<ol>
	<li><a href="/secret">Secret page</a></li>
	<li><a href="/register">Sign Up</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/logout">LogOut</a></li>
</ol>